.detail-container {
  min-height: 1000px;
  width: 70%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.detail-container > div {
  padding: 10px;
  height: fit-content;
}
.detail-container .left {
  border-radius: 5px;
  width: 25%;
  display: flex;
  align-items: center;
  position: sticky;
  flex-direction: column;
  gap: 15px;
  top: 80px;
}
.detail-container .left img {
  object-fit: cover;
  width: 100%;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 0px 10px 10px 0px;
}
.detail-container .left .add-to-cart {
  background-color: transparent;
  transition: 0.3s ease-in-out;
  color: #da501e;
  border: 2px solid #da501e;
  padding: 10px 0px;
  width: 100%;
  border-radius: 50px;
  text-align: center;
}
.detail-container .left .add-to-cart:hover {
  cursor: pointer;
  background-color: #da501e;
  color: white;
}
.detail-container .right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.detail-container .right .book-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.detail-container .right .book-author {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.detail-container .right .book-rating {
  gap: 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.detail-container .right .book-rating .stars {
  display: flex;
  gap: 10px;
}
.detail-container .right .book-rating .stars .rate {
  color: #ccc;
}
.detail-container .right .book-rating .stars .fill {
  color: coral;
}
.detail-container .right .book-rating .ratings-count {
  font-size: 16px;
  color: #999;
}
.detail-container .right .description {
  font-size: 14px;
  letter-spacing: 0.9px;
  display: flex;
  flex-direction: column;
}
.detail-container .right .description .text {
  overflow: hidden;
  max-height: 130px;
  margin-bottom: 5px;
  line-height: 20px;
  position: relative;
}
.detail-container .right .description .text.show::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15px;
  background: linear-gradient(rgba(255, 255, 255, 0), #f2f4f7);
}
.detail-container .right .description .more-button {
  position: relative;
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
}
.detail-container .right .description .more-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: coral;
  transition: 0.3s ease-in-out;
  transform: translateY(100%);
}
.detail-container .right .description .more-button:hover::after {
  width: 100%;
}
.detail-container .right .description .d-none {
  display: none;
}
.detail-container .right .hr {
  width: 100%;
  height: 1px;
  background-color: #d6d9dc;
  margin: 25px auto;
}
.detail-container .right .fs-20 {
  font-size: 20px;
}
.detail-container .right .fw-bold {
  font-weight: bold;
}
.detail-container .right .mb-16 {
  margin-bottom: 16px;
}
.detail-container .right .row {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.detail-container .right .row .img {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}
.detail-container .right .row .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail-container .right .row .data {
  flex-grow: 1;
  font-size: 15px;
  font-weight: bold;
}
.detail-container .right .row .follow-btn {
  background-color: black;
  color: white;
  padding: 7px 15px;
  border-radius: 50px;
  font-size: 14px;
}
.detail-container .right .rating-stat {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}
.detail-container .right .rating-stat .row {
  display: flex;
  align-items: center;
  justify-content: start;
}
.detail-container .right .rating-stat .row:hover .col:first-child .fs::after {
  width: 100%;
}
.detail-container .right .rating-stat .row:hover .col:last-child {
  color: black;
}
.detail-container .right .rating-stat .row .col:first-child .fs {
  font-weight: bold;
  position: relative;
  width: fit-content;
}
.detail-container .right .rating-stat .row .col:first-child .fs::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ff7f50;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  transition: 0.3s ease-in-out;
}
.detail-container .right .rating-stat .row .col:last-child {
  color: #999;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}
.detail-container .right .rating-stat .row .col.expanded {
  width: 550px;
  padding: 10px;
  border-radius: 50px;
}
.detail-container .right .rating-stat .row .col.expanded .line {
  width: 100%;
  background-color: #ddd;
  border-radius: inherit;
}
.detail-container .right .rating-stat .row .col.expanded .line .indicator {
  width: var(--width);
  height: 15px;
  background-color: coral;
  border-radius: inherit;
}
.detail-container .right .rating-stat .row .col {
  min-width: 65px;
}

/*# sourceMappingURL=detail.css.map */
