{% extends 'base.html' %}{% load static %}


{% block css %}
    <link rel="stylesheet" href="{%  static 'css/cart.css' %}">
{% endblock css %}

{% block content %}

    <div class="cart-container">

        <div class="left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit, saepe illum possimus, distinctio obcaecati velit dolor recusandae, quis dolore numquam optio aliquid dicta aliquam animi. Necessitatibus neque vel illo!
        </div>

        <div class="right">
            {% for book in books %}
                <div class="card">
                    <div class="col">
                        <img src="{{ book.image.url }}" alt="">
                    </div>
                    <div class="col">
                        <div class="title">{{ book.title }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}