{% extends 'base.html' %}

{% block content %}


<div class="main-container">
    <div class="wrapper">
        <div class="filter-side">
            <div class="row">
                <div class="title">Genres</div>
            </div>
        </div>
        <div class="books">

            {% for book in books %}
            <div class="book">
                <a href="{% url 'detail' book.pk %}" class="book">

                    <div class="book-inner">
                        <div class="badges">

                            {% for badge in book.badge.all %}

                            <div class="badge">
                                {{badge.title}}
                            </div>

                            {% endfor %}

                            {% if book.discount.all %}
                            <div class="badge">
                                discount
                            </div>
                            {% endif %}

                        </div>
                        <img src="{{ book.image.url }}" alt="">
                        <div class="content">

                            <div class="name">{{ book.title }}</div>
                            <div class="row">

                                <div class="price">
                                    {% if book.discount.all %}
                                    <div class="new">
                                        ${{ book.discount.all.0.new_price }}
                                    </div>

                                    <div class="old">
                                        ${{ book.price }}
                                    </div>
                                    {% else %}
                                    <div class="new">
                                        ${{ book.price }}
                                    </div>

                                    {% endif %}
                                </div>

                                <div class="author">
                                    {{ book.author.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="rating">
                    {{ book.rating | safe }}
                </div>
                <a href="/accounts/" class="button">Add to cart</a>

            </div>

            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}